@import "tailwindcss";

/**
 * Generic styling
 */

button {
    @apply cursor-pointer;
}

select, input[type="text"], input[type="number"] {
    @apply block w-full px-4 py-2 rounded border border-gray-500;
}

/**
 * Form styling
 */
[data-form-field] {
    @apply block mb-4;
}

[data-form-label] {
    @apply block text-sm font-bold mb-1;
}

[data-form-input] {
    @apply block w-full px-4 py-2 rounded border border-gray-500;
}

/**
 * Toolbar styling
 */
[data-toolbar-root] {
    @apply flex flex-row;
}

[data-toolbar-group] {
    @apply flex flex-row;
}

[data-toolbar-button], [data-toolbar-group-item], [data-dialog-trigger] {
    @apply block transition-colors bg-slate-200 hover:bg-emerald-700 hover:text-white focus:bg-emerald-700 focus:text-white px-2 py-1;
}

[data-toolbar-group-item][aria-checked="true"], [data-toolbar-group-item][aria-pressed="true"]{
    @apply bg-emerald-300 hover:text-black focus:text-black;
}

[data-toolbar-button]:first-child {
    @apply rounded-l;
}

[data-toolbar-button]:last-child {
    @apply rounded-r;
}

[data-toolbar] [data-separator] {
    @apply border-l border-l-white;
}

/**
 * Dialog styling
 */
[data-dialog-trigger] {
    @apply rounded;
}
