name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: read-all

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: |
            3.11

      - uses: actions/setup-node@v6
        with:
          node-version: |
            20

      - name: Add .local path
        run: |
          echo "PATH=$HOME/.local/bin:$PATH" >> $GITHUB_ENV
          echo "PIPX_HOME=$HOME/.local/pipx" >> $GITHUB_ENV
          echo "PIPX_BIN_DIR=$HOME/.local/bin" >> $GITHUB_ENV

      - name: Install Base Dependencies
        run: |
          sudo apt-get install python3-venv pipx
          pipx install hatch

      - name: Build the Frontend
        run: |
          cd mr_fat_controller/frontend
          npm install
          npm run build

      - name: Start the database backend
        uses: hoverkraft-tech/compose-action@v2.4.2
        with:
          compose-file: "./tests/docker-compose.yaml"

      - name: Run Tests
        run: |
          hatch run test
